* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background: #212529;
  color: #fff;
  padding: 0 4rem;
  height: 6rem;
  width: 100%;
}

.cart {
  background-color: #fff;
  color: #212529;
  position: relative;
  padding: 5px;
  font-size: 2rem;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -0.8rem;
  right: -0.35rem;
  font-size: 1rem;
  background: #c40808;
  color: #fff;
  padding: 3px;
  border-radius: 4px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 2rem;
  justify-content: center;
  margin-bottom: 50px;
}

.item {
  border: 2px solid #212529;
  border-radius: 4px;
}

.item img {
  width: 100%;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.8rem;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.7rem;
}

.bi-dash-lg {
  color: #d70c0c;
}

.bi-plus-lg {
  color: #087b08;
}

@media (max-width: 1024px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 520px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}

/* styles for cart page */

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.homeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: #fff;
  border: none;
  margin-top: 15px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.bi-x-lg {
  color: #c40808;
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

.cart-item {
  border: #212529 2px solid;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
}

.title-price-x h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-price-x span {
  background: #212529;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
}

.checkout {
  background: #046404;
}
.removeAll {
  background: #c40808;
}
